@import url('https://fonts.googleapis.com/css2?family=Doto:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cookie&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    transition: 0.8s;
}


body {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    background-color: #F8F9FA;
    margin: 5%;
    font-family: "Inter", serif;
 

}

body.dark-mode {
    background-color: #121212;
}

.dark-mode .head {
    color: white;
}

.dark-mode .head i {
    color: white;
}

#darkMode {
    margin-left: 45%;
    display: block;
    border: none;
    background-color: #4A90E2;
    border-radius: 25px;
    width: 100%;
    max-width: 100%;
    height: 40px;
    transition: 0.8s;
    box-shadow: 0 0 10px black
}
#darkMode:hover{
    background-color: #18375d;
}

.main {
    display: flex;
    flex-direction: column;
}

.head {
    display: flex;
    justify-content: center;
    color: #4A90E2;
    font-family: Inter;
    transition: color 0.3s;
    
}

.dark-mode .head {
    color: white;
}

.dark-mode .head i {
    color: white;
}

.searchbar {
    margin-top: 9%;
    display: grid;
    align-items: center;
    grid-template-columns: 90% 10%;
    background-color: rgb(51, 156, 255);
    width: 100%;
    color: rgb(255, 255, 255);
    transition: 1s;
    padding-left: 10px;
    border-radius: 10px;
    padding-bottom: 3%;
    box-shadow: 0 0 10px black
}
.dark-mode .searchbar{
    background-color: #1280ff;
    
}

.searchbar i {
    margin-top: 30%;
    text-shadow: 0 0 3px black;
    right: 0;
    

}
.searchbar:hover{
    scale: 1.02;
}

#search{

    background-color: rgb(51, 156, 255);
    border: none;
    font-family: "Inter", serif;
    color: white;
    margin-top: 15px;
    font-size: 20px;
    padding: 0 10px;
    
}
.dark-mode #search{
    background-color: #1280ff;

}
#search::placeholder{
    font-family: "Inter", serif;
    color: #ffffff;
}

#search:focus{
   outline: none;

}
template {
    transition: 1s;
}

.case {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    border-radius: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: rgb(196, 196, 196);
    color: #4A90E2;
    font-family: Inter;
    transition: background-color 0.3s, color 0.3s;
    box-shadow: 0 0 10px black;
    transition: 1s;

}
.disappear {
    display: none;
    transition: 1s;
}

.case h1 {
    font-size: 20px;
    padding-right: 5%;
}
.case p {
    font-size: 16px;
}
.dark-mode .case {
    background-color: #333;
    color: white;
}
.case button {
    border: none;
    font-size: 16px;
    background-color: #ffffff;
    transition: 0.3s;

}

#supp_element {
    margin-top: 48%;
    background-color: rgb(196, 196, 196);
    font-size: 32px;
    color: #4A90E2;
    transition: 0.3s;
}
#supp_element:hover {
    color: #e03535;
    scale: 1.1;
}
.dark-mode #supp_element {
    background-color: #333;
    font-size: 32px;
    color: #4A90E2;
    transition: 0.3s;
}
.dark-mode #supp_element:hover {
    color: #e03535;
    scale: 1.1;
}

footer{
    
    position: sticky;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    width: 100%;
    margin-bottom: 5%;
    margin-left: 0%;
    margin-right: 5%;


}

footer button {
    display: grid;
    grid-template-columns: 100%;
    justify-content: center;
    align-items: center;
    position: sticky;
    margin-top: 15%;
    padding-left: 100px;
    padding-right: 100px;
    height: 40px;
    border: none;
    background-color: #1280ff;
    border-radius: 1rem;
    transition: background-color 0.3s;
    box-shadow: 0 0 10px black
}

.dark-mode footer button {
    background-color: #555;
}

footer button:hover{
    border: none;
    background-color: #1280ff;

}


.form {
    display: grid;
    grid-template-columns: 80%; /* Keeps the elements in one column */
    left: 100%;
    top: 0;
    position: absolute;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #1280ff;
    z-index: 1;
    transition: 0.5s;
}

.dark-mode .form {
    background-color: #1280ff;
}

#text, #desc, #submit {
    border-radius: 15px;
    height: 65px;
    font-family: Inter;
    border-style: none;
    border: none;
    outline: none;

}



.container {
    margin-right: 5%;
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default checkbox */
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #0655ffd2;
    border: white 1px solid;
  }
  

  /* When the checkbox is checked, add a blue background */
  .container input:checked ~ .checkmark {
    background-color: #2196F3;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: block;
  }
  
  /* Show the checkmark when checked */
  .container input:checked ~ .checkmark:after {
    display: none;
  }
  
  /* Style the checkmark/indicator */
  .container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    transition: 0.5s;
  }
  

  #sort {
    outline: none;
    border: none;
    margin-top: 5%;
    background-color: #0e7af5;
    color: white;
    border-radius: 50px;
    box-shadow: 0 0 5px black;
    height: 35px;
    max-width: 100px;
  }

  #sort:hover{
    background-color: #383838;

  }

  
